In [1]:
import pandas as pd

In [2]:
contentDF = pd.read_csv('./Raw Data/Content.csv', index_col=0)
reactionsDF = pd.read_csv('./Raw Data/Reactions.csv', index_col=0)
reactionTypesDF = pd.read_csv('./Raw Data/ReactionTypes.csv', index_col=0)

# Content DATA

In [3]:
reactionsDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   User ID     1000 non-null   object
 2   Type        1000 non-null   object
 3   Category    1000 non-null   object
 4   URL         801 non-null    object
dtypes: object(5)
memory usage: 46.9+ KB

In [4]:
contentDF.isna().sum()

Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [5]:
contentDF = contentDF.drop(['User ID','URL'], axis=1)

In [6]:
contentDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   Type        1000 non-null   object
 2   Category    1000 non-null   object
dtypes: object(3)
memory usage: 31.2+ KB

In [7]:
contentDF['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [8]:
contentDF['Category'] = contentDF['Category'].str.lower()

In [9]:
contentDF['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture',
       '"culture"', '"studying"', '"animals"', '"soccer"', '"dogs"',
       '"tennis"', '"food"', '"technology"', '"cooking"',
       '"public speaking"', '"veganism"', '"science"'], dtype=object)

In [10]:
contentDF.rename(columns = {'Type':'Content Type'}, inplace = True)

In [11]:
contentDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Content ID    1000 non-null   object
 1   Content Type  1000 non-null   object
 2   Category      1000 non-null   object
dtypes: object(3)
memory usage: 31.2+ KB

In [12]:
contentDF.to_csv('./Cleaned Data/contentCLEANED.csv', index=False)

# Reactions DATA

In [13]:
reactionsDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25553 entries, 0 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25553 non-null  object
 1   User ID     22534 non-null  object
 2   Type        24573 non-null  object
 3   Datetime    25553 non-null  object
dtypes: object(4)
memory usage: 998.2+ KB

In [14]:
reactionsDF.isna().sum()

Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [15]:
reactionsDF = reactionsDF.drop(['User ID'], axis=1)

In [16]:
reactionsDF = reactionsDF.dropna(axis=0)

In [17]:
reactionsDF.isna().sum()

Content ID    0
Type          0
Datetime      0
dtype: int64

In [18]:
reactionsDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24573 entries, 1 to 25552
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  24573 non-null  object
 1   Type        24573 non-null  object
 2   Datetime    24573 non-null  object
dtypes: object(3)
memory usage: 767.9+ KB

In [19]:
reactionsDF.rename(columns = {'Type':'Reaction Type'}, inplace = True)

In [20]:
reactionsDF.to_csv('./Cleaned Data/reactionsCLEANED.csv', index=False)

# Reactiontype DATA

In [21]:
reactionTypesDF.isnull().sum()

Type         0
Sentiment    0
Score        0
dtype: int64

In [22]:
reactionTypesDF.sort_values(by=['Score'], ascending=False)

           Type Sentiment  Score
7    super love  positive     75
9         adore  positive     72
1          want  positive     70
8       cherish  positive     70
6          love  positive     65
0         heart  positive     60
10         like  positive     50
12    intrigued  positive     45
13      peeking   neutral     35
4    interested  positive     30
5   indifferent   neutral     20
14       scared  negative     15
15      worried  negative     12
11      dislike  negative     10
3          hate  negative      5
2       disgust  negative      0

In [29]:
reactionTypesDF.rename(columns = {'Type':'Reaction Type'}, inplace = True)

# Merging all data files together

In [27]:
mergerConRea = reactionsDF.merge(contentDF, on='Content ID')

In [33]:
mergerConRea.to_csv('./Cleaned Data/mergerConRea.csv', index=False)

In [30]:
mergeDf = mergerConRea.merge(reactionTypesDF, on='Reaction Type')

In [32]:
mergeDf.to_csv('./Cleaned Data/mergeDf.csv', index=False)

In [2]:
mergeDf = pd.read_csv("./Cleaned Data/mergeDf.csv")

In [38]:
sumDf = mergeDf.groupby('Category')['Score'].sum()

In [41]:
sumDf = pd.DataFrame(sumDf)

In [42]:
sumDf.sort_values(by=['Score'], ascending=False)

                 Score
Category
animals          74965
science          71168
healthy eating   69339
technology       68738
food             66676
culture          66579
travel           64880
cooking          64756
soccer           57783
education        57436
fitness          55323
studying         54269
dogs             52511
tennis           50339
veganism         49619
public speaking  49264

In [43]:
sumDf.to_csv('./Cleaned Data/sumDf.csv')

In [4]:
newDateTime = mergeDf['Datetime'].str.split(" ", n = 1, expand = True)
mergeDf['Date']= newDateTime[0]
mergeDf['Time']= newDateTime[1]

In [6]:
mergeDf = mergeDf.drop(['Datetime'], axis=1)

In [7]:
mergeDf

,Content ID,Reaction Type,Content Type,Category,Sentiment,Score,Date,Time
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,photo,studying,negative,0,07-11-2020,9.43
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,photo,studying,negative,0,06-01-2021,19.13
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,photo,studying,negative,0,09-04-2021,2.46
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,photo,healthy eating,negative,0,28-03-2021,21.15
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,photo,healthy eating,negative,0,04-08-2020,5.40
...,...,...,...,...,...,...,...,...
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,audio,veganism,positive,72,04-10-2020,22.26
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,audio,veganism,positive,72,18-09-2020,10.50
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,GIF,culture,positive,72,31-10-2020,3.58
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,GIF,culture,positive,72,25-06-2020,15.12
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,GIF,culture,positive,72,17-12-2020,16.32

In [8]:
mergeDf = mergeDf[['Content ID', 'Reaction Type', 'Date', 'Time', 'Content Type', 'Category', 'Sentiment', 'Score']]

In [9]:
mergeDf

,Content ID,Reaction Type,Date,Time,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020,9.43,photo,studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021,19.13,photo,studying,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,09-04-2021,2.46,photo,studying,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,28-03-2021,21.15,photo,healthy eating,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,04-08-2020,5.40,photo,healthy eating,negative,0
...,...,...,...,...,...,...,...,...
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,04-10-2020,22.26,audio,veganism,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,18-09-2020,10.50,audio,veganism,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,31-10-2020,3.58,GIF,culture,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,25-06-2020,15.12,GIF,culture,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,17-12-2020,16.32,GIF,culture,positive,72

In [10]:
mergeDf.to_csv('./Cleaned Data/mergeDf.csv')